@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: #121535;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.278 0.033 256.848);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.278 0.033 256.848);
  --primary: #299e60;
  --primary-foreground: #121535;
  --secondary: #d3ebc0;
  --secondary-foreground: #fff8ef;
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: #F3FAF2;
  --accent-foreground: oklch(0.278 0.033 256.848);
  --destructive: oklch(0.628 0.258 29.234);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0.007 247.896);
  --input: oklch(0.968 0.007 247.896);
  --ring: oklch(0.723 0.191 142.542);
  --chart-1: oklch(0.723 0.191 142.542);
  --chart-2: oklch(0.879 0.169 91.605);
  --chart-3: oklch(0.82 0.12 55);
  --chart-4: oklch(0.628 0.258 29.234);
  --chart-5: oklch(0.649 0.2 142.542);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.278 0.033 256.848);
  --sidebar-primary: oklch(0.723 0.191 142.542);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.928 0.048 102.784);
  --sidebar-accent-foreground: oklch(0.278 0.033 256.848);
  --sidebar-border: oklch(0.922 0.007 247.896);
  --sidebar-ring: oklch(0.723 0.191 142.542);
}

.dark {
  --background: oklch(0.178 0.02 256.848);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.218 0.025 256.848);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.218 0.025 256.848);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.723 0.191 142.542);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.35 0.04 90);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0.03 256.848);
  --muted-foreground: oklch(0.708 0.02 256.848);
  --accent: oklch(0.75 0.14 91.605);
  --accent-foreground: oklch(0.178 0.02 256.848);
  --destructive: oklch(0.704 0.191 29.234);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.35 0.025 256.848);
  --input: oklch(0.35 0.025 256.848);
  --ring: oklch(0.723 0.191 142.542);
  --chart-1: oklch(0.723 0.191 142.542);
  --chart-2: oklch(0.75 0.14 91.605);
  --chart-3: oklch(0.75 0.1 55);
  --chart-4: oklch(0.704 0.191 29.234);
  --chart-5: oklch(0.649 0.2 142.542);
  --sidebar: oklch(0.218 0.025 256.848);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.723 0.191 142.542);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.35 0.04 90);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.35 0.025 256.848);
  --sidebar-ring: oklch(0.723 0.191 142.542);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      min-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      min-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      min-width: 924px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      min-width: 1180px;
    }
  }

  @media (min-width: 1736px) {
    .container {
      min-width: 1700px;
    }
  }
}
